body {
    font-family: "Poppins", sans-serif;
}

.background {
    background-image: url("Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    min-height: 100vh;
    min-height: calc(100% - 36px);
    min-height: calc(100vh - 36px);
    display: flex;
    align-items: center;
}

.tentang {
    color: #FFF;
    margin: 20%;
}

.name {
    font-weight: bold;
    font-size: 64px;
    color: rgb(76, 147, 255);
    text-shadow: rgb(21, 66, 135) 5px 2px 2px;
    text-align: left;
}

.facebook, .twitter, .instagram {
    background-color: #4C93FF;
    width: 40px;
    height: 40px;
    color: #FFF;
    border-radius: 50%;
}

.facebook a, .twitter a, .instagram a  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
}

.facebook a i, .twitter a i, .instagram a i {
    padding-top: 20px;
}